__pycache__/
*.pyc
interfaz/__pycache__/__init__.cpython-314.pyc
interfaz/ventanas/__pycache__/window.cpython-314.pyc
interfaz/__pycache__/__init__.cpython-314.pyc
interfaz/ventanas/__pycache__/window.cpython-314.pyc
historial_simulacion.json
historial_simulacion.json
